:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._col-675002279{color:var(--color);}
:root ._tt-1440318557{text-transform:var(--f-tr-10);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-1366436877{font-weight:var(--f-we-10);}
:root ._ls-905095908{letter-spacing:var(--f-21-10);}
:root ._fos-1477259397{font-size:var(--f-si-10);}
:root ._lh-1677663454{line-height:var(--f-li-10);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._als-center{align-self:center;}
:root ._mt-1316330238{margin-top:var(--space-14);}
:root ._mr-1316330238{margin-right:var(--space-14);}
:root ._mb-1316330238{margin-bottom:var(--space-14);}
:root ._ml-1316330238{margin-left:var(--space-14);}